<br>
<div class="row">
  <div class="column">
    <b> Canadadian Universities </b>
    <br>
    <% @canada.each do | key | %> 
      <br>
      <% if key["domains"].count > 1 %>
      <b><%= key["name"] %></b>
      <% else %>
        <%= key["name"] %>
      <% end %>
  <% end %>  
  </div>
<br>
<br>
  <div class="column">
    <b> USA Universities </b>
    <br>
    <% @usa.each do | key | %> 
      <br>
      <% if key["domains"].count > 1 %>
        <b><%= key["name"] %></b>
      <% else %>
        <%= key["name"] %>
    <% end %>
<% end %> 
</div> 
</div>